.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0%;
}

.note
{
    font-size: 15px;
    color: black;
}

body
{
    background-size: cover;
}

.play_button
{
    width: auto;
    font-size: 25px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
}